@model Tag
@{
    ViewData["Title"] = "Wijzig tag";
}
<h3>Tag wijzigen</h3>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Label</label>
            <div class="col-sm-10">
                <input asp-for="Label" class="form-control" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Opslaan</button>
    </fieldset>
}
