@{
    ViewData["Title"] = "Kaart";
}
<div class="map-container mb-3">
    <img src="/HistoryMap/map" id="map">
</div>

<a asp-action="map" class="btn btn-primary">Download</a>&nbsp;
<a asp-action="start" class="btn btn-primary">Vernieuw kaart</a>&nbsp;
