<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Locatie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fluid content-container">

        <div class="row content">
            <div class="col-sm-3 sidenav">
                <partial name="_MenuPartial" />
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <partial name="_FlashMessagesPartial" />
                    </div>
                </div>
                @RenderBody()
            </div>
            @RenderSection("javascripts", required: false)
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.nl.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
