<h4>Locatie</h4>
<ul class="nav nav-pills flex-column pb-5">
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Index", "Home")">Tijdlijn</a>
    </li>

    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
            Statistieken
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="{{ url('stats_periode') }}">Periode</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('stats_locaties') }}">Locaties</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('stats_jaar') }}">Jaar</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
            Instellingen
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="{{ url('settings') }}">Instellingen</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('user') }}">Gebruikers</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('locatie') }}">Locaties</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('tags') }}">Tags</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{{ url('import') }}">Import GPX</a></li>
        </ul>
    </li>
</ul>
