@model List<Run>
@{
    ViewData["Title"] = "Hardlopen";
}
<style>
    tr { cursor: pointer; }
</style>
<table class="table table-striped">
    <thead>
        <tr><th>Datum</th><th>Km</th><th>Tijd</th><th>Km/u</th><th>Tempo</th></tr>
    </thead>
    <tbody>
        @{ViewData["LinkRun"] = true; }
        @foreach (var run in Model)
        {
            <partial name="RunTablerow" model="run" view-data="ViewData" />
        }
    </tbody>
</table>

